section
  .section-title
    span какво ново
    small общо #{blogsCount} статии
  - if(blogs[0])
    .section-item
      h1
        a.title-link(href='/blogs/#{blogs[0].getUrl()}')
          | #{blogs[0].title}
        h5.section-description
          | Публикувано на #{blogs[0].date} от&nbsp;
          a(href='#go-to-author-page') #{blogs[0].creator.name}
        article
          | !{blogs[0].htmlIngress()} …
        .section-nav
          a.btn.pull-left(href='/blogs/#{blogs[0].getUrl()}') Прочети повече
          br.clear
  hr
  .row
    - for(var i = 1; i<blogs.length; i++)
      .span4
        include ../blogPost
  hr
  a.pull-right(href='/blogs')
    i.icon-plus-sign
    | Виж всички статии