section
  .section-title
    span предстоящи събития
    small изминали #{previousCount} / предстоящи #{upcomingCount}
  - if(events[0])
    .section-item
      .section-date
        strong.date #{events[0].startDate()}
        br
        | #{events[0].startDateNameOfDay()}
        br
        | #{events[0].startTime()}
      h2 #{events[0].title}
      .section-description Автор: #{events[0].getCreatorName()}
      article
        | #{events[0].ingress}
      .section-nav
        a.btn.pull-left(href='/events/#{events[0].getUrl()}') Прочети повече
        br.clear
  - for(var i = 1; i<events.length; i++)
    hr
    .section-item
      .section-date
        strong.date #{events[i].startDate()}
        br
        | #{events[i].startDateNameOfDay()}
        br
        | #{events[i].startTime()}
      h3 #{events[i].title}
      .section-description Автор: #{events[i].getCreatorName()}
      .section-nav
        a.btn.pull-left(href='/events/#{events[i].getUrl()}') Прочети повече
        br.clear
  hr
  a.pull-right(href='/events')
    i.icon-plus-sign
    | Виж всички събития
  br.clearfix
