section
  h3.section-title
    span предстоящи събития
    small изминали #{previousCount} / предстоящи #{upcomingCount}
  - if(events[0])
    .section-item
      .section-date
        strong.date #{events[0].createdDate()}
        br
        | #{events[0].createdNameOfDay()}
        br
        | #{events[0].createdTime()}
      h2 #{events[0].title}
      h5.section-description Автор: #{events[0].author}
      article
        | #{events[0].ingress}
      .section-nav
        a.btn.pull-left(href='#') Прочети повече
        .share-widget.pull-left share widget here
        br.clear
  - for(var i = 1; i<events.length; i++)
    hr
    .section-item
      .section-date
        strong.date #{events[i].createdDate()}
        br
        | #{events[i].createdNameOfDay()}
        br
        | #{events[i].createdTime()}
      h3 #{events[i].title}
      h5.section-description Автор: #{events[i].author}
      .section-nav
        a.btn.pull-left(href='#') Прочети повече
        .share-widget.pull-left share widget here
        br.clear
  hr
  a.pull-right(href='/events')
    i.icon-plus-sign
    | Виж всички събития
  br.clearfix