extends ../layout

block content
  <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;hl=bg&amp;bgcolor=%23FFFFFF&amp;src=lo0fh2tu3nu9vegm8ibf6hhtjg%40group.calendar.google.com&amp;color=%23856508&amp;ctz=Europe%2FSofia" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  h2 Предстоящи събития
  section
    - for(var i = 0; i<eventsUpcomingOrder.length; i++)
      .section-item(class= eventsUpcomingOrder[i].isUpcoming()?"":"disable")
        .section-date
          strong.date #{eventsUpcomingOrder[i].startDate()}
          br
          | #{eventsUpcomingOrder[i].startDateNameOfDay()}
          br
          | #{eventsUpcomingOrder[i].startTime()}
        h3 #{eventsUpcomingOrder[i].title}
        h5.section-description Добавено от: #{eventsUpcomingOrder[i].getCreatorName()}
        .section-nav
          a.btn.pull-left(href='/events/#{eventsUpcomingOrder[i].getUrl()}') Прочети повече
          br.clear

  h2 Изминали събития
  section
    - for(var i = 0; i<pastEvents.length; i++)
      .section-item(class= pastEvents[i].isUpcoming()?"":"disable")
        .section-date
          strong.date #{pastEvents[i].startDate()}
          br
          | #{pastEvents[i].startDateNameOfDay()}
          br
          | #{pastEvents[i].startTime()}
        h3 #{pastEvents[i].title}
        h5.section-description Добавено от: #{pastEvents[i].getCreatorName()}
        .section-nav
          a.btn.pull-left(href='/events/#{pastEvents[i].getUrl()}') Прочети повече
          br.clear
