extends ../layout

block content
  <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;hl=bg&amp;bgcolor=%23FFFFFF&amp;src=lo0fh2tu3nu9vegm8ibf6hhtjg%40group.calendar.google.com&amp;color=%23856508&amp;ctz=Europe%2FSofia" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  section
    - for(var i = events.length-1; i>=0; i--)
      .section-item(class= events[i].isUpcoming()?"":"disable")
        .section-date
          strong.date #{events[i].startDate()}
          br
          | #{events[i].startDateNameOfDay()}
          br
          | #{events[i].startTime()}
        h3 #{events[i].title}
        h5.section-description Автор: #{events[i].getCreatorName()}
        .section-nav
          a.btn.pull-left(href='/events/#{events[i].getUrl()}') Прочети повече
          br.clear
      hr
    //
      a.pull-right(href='/events')
      i.icon-plus-sign
      | Виж още събития
    br.clearfix
