extends ../layout

block content
  section
    - for(var i = events.length-1; i>=0; i--)
      .section-item(class= events[i].upcoming?"":"disable")
        .section-date
          strong.date #{events[i].createdDate()}
          br
          | #{events[i].createdNameOfDay()}
          br
          | #{events[i].createdTime()}
        h3 #{events[i].title}
        h5.section-description Автор: #{events[i].author}
        .section-nav
          a.btn.pull-left(href='#read-more') Прочети повече
          .share-widget.pull-left share widget here
          br.clear
      hr
    //
      a.pull-right(href='/events')
      i.icon-plus-sign
      | Виж още събития
    br.clearfix
