.section-item.post-item
  h3
    a.title-link(href='/blogs/#{blogs[i].slugifiedUrl()}')
      | #{blogs[i].title}
  h5.section-description
    | Публикувано на #{blogs[i].date} от&nbsp;
    a(href='#go-to-author-page') #{blogs[i].author}
  article
    | #{blogs[i].ingress} …
  .section-nav
    a.btn.pull-left(href='/blogs/#{blogs[i].slugifiedUrl()}') Прочети повече
    br.clear