h3
  | #{blogs[i].title}
h5.section-description
  | Публикувано на #{blogs[i].date} от&nbsp;
  a(href='#') #{blogs[i].author}
article
  | #{blogs[i].ingress} ...
.section-nav
  a.btn.pull-left(href='/blogs/#{blogs[i].slugifiedUrl()}') Прочети повече
  include ./sharer
  br.clear