extends ../layout
block content
  section
    .section-item
        .section-date
          strong.date #{blog.createdDate()}
          br
          | #{blog.createdNameOfDay()}
          br
          | #{blog.createdTime()}
        h2 #{blog.title}
        h5.section-description Автор: #{blog.getCreatorName()}
        article!= blog.htmlContent()
        .section-nav
          include ../partials/sharer
          #disqus_thread
          script
            var disqus_shortname = 'varnalab';
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          noscript
            Please enable JavaScript to view the a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
          br.clear
      hr
      br.clearfix
