extends ../layout

block content
  section
    .row
      - for(var i = 0; i<blogs.length; i++)
        .span4
          .section-item
            h3
              | #{blogs[i].title}
            h5.section-description
              | Публикувано на #{blogs[i].date} от
              a(href='#') #{blogs[i].author}
            article
              | #{blogs[i].ingress} ...
            .section-nav
              a.btn.pull-left(href='/blogs/#{blogs[i].title}') Прочети повече
              .share-widget.pull-left.fb-like(data-href="http://127.0.0.1:8080/blogs/#{blogs[i].slugifiedUrl()}", data-send="false", data-width="200", data-show-faces="false")
              br.clear