extends ../layout

block content
  section
    .row
      - for(var i = 0; i<blogs.length; i++)
        .span4
          .section-item
            .section-item.post-item
              h3
                a.title-link(href='/blogs/#{blogs[i].getUrl()}')
                  | #{blogs[i].title}
              h5.section-description
                | Публикувано на #{blogs[i].createdDate()} от&nbsp;
                a(href='#go-to-author-page') #{blogs[i].creator.name}
              article
                | !{blogs[i].htmlIngress()} …
              .section-nav
                a.btn.pull-left(href='/blogs/#{blogs[i].getUrl()}') Прочети повече
                br.clear
  - if(pageNumber > 0)
    a(href="/blogs/#{pageNumber-1}").btn previous
  - else
    a.btn.disabled previous
  - for(var page = 0; page<blogsCount/blogsLimit; page++)
    - if(pageNumber != page)
      a.btn(href="/blogs/#{page}") #{page}
    - else
      a.btn.disabled #{page}
  - if(blogsCount > blogs.length+pageNumber*blogsLimit)
    a(href="/blogs/#{pageNumber+1}").btn next
  - else
    a.btn.disabled next