section Edit Event

label title
input#title(type="text", value= model.get("title"))



label starts
#startDateTime.input-append.date
  input(type="text", data-format="dd/MM/yyyy hh:mm")
  span.add-on
    i(data-time-icon="icon-time", data-date-icon="icon-calendar")

label ends
#endDateTime.input-append.date
  input(type="text", data-format="dd/MM/yyyy hh:mm")
  span.add-on
    i(data-time-icon="icon-time", data-date-icon="icon-calendar")

section Description
  #description

- if(!model.isNew())
  a.btn(href="/api/events/#{model.id}/post/all") post in all (fb page / fb group / twitter) 
  a.btn.btn-small(href="/api/events/#{model.id}/post/facebook-page") post in fb page 
  a.btn.btn-small(href="/api/events/#{model.id}/post/facebook-group") post in fb group 
  a.btn.btn-small(href="/api/events/#{model.id}/post/twitter") post in twitter 
  hr 

button#save save
textarea#descriptionData(style="display: none")!= model.get('description')
